@use "variables";

body {
    font-family: 'Roboto', sans-serif;
    color: variables.$text-color;
    background-color: variables.$background-color;
  }
  
  a {
    text-decoration: none;
    color: variables.$primary-color;
  
    &:hover {
      text-decoration: underline;
    }
  }
  