@use '../styles/variables';
@use '../styles/mixins';

.home-page {
    padding: 20px;
    background-color: variables.$light-bg-color;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    @include mixins.box-shadow;
  }

  .responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; // Center the image
    border-radius: 8px; // Optional: add rounded corners if desired
  }
  