@use '../styles/variables';
@use '../styles/mixins';

footer {
  @include mixins.box-shadow;
  padding: 20px;
  background-color: #f1f1f1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
